*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Lucida Sans',
     'Lucida Sans Regular', 
     'Lucida Grande', 
     'Lucida Sans Unicode', 
      Verdana, 
      sans-serif;

}
:root {
    --hue-neutral: 600;
    --hue-wrong: 0;
    --hue-correct: 145;
}


body {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 3%, 67%);
    justify-content: center;
    align-items: center;
}

body.correct {
    --hue: var(--hue-correct);
    background-color: hsl(var(--hue), 100%, 20%);
}

body.wrong {
    --hue: var(--hue-wrong);
    background-color: hsl(var(--hue), 100%, 20%);
}

.jumbotron {
    
    max-width: 80%;
    margin: 15%;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 6px;

}

h1 {
    text-align: center;
}

.card {
    margin-left: 30%;
    margin-right: 30%;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px;
}

.btn{
    padding: 5px 10px;
}

/* .btn.correct {
    background-color:green;
    color: greenyellow ;
}

.btn.wrong {
    background-color: black;
    color: firebrick;
} */
.start, .next {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}



.high {
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }

  form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  input {
      margin-bottom: 1rem;
      width: 20rem;
      
  }